<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TourKoreaAPIKey</key>
	<string>IRZpvZ3v%2FpSdcwLP2HKDZevlLKqFK2Nj35lZa%2F48QLWD%2FVeweC5YPkL6wmy3fHOK%2F1oEOg51n6AsyOz6Plex7A%3D%3D</string>
</dict>
</plist>
