<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TourKoreaAPIKey</key>
	<string>3dIOkzrz3T%2FQZa9OamhWCjNiLaRvrnoVaJe%2Bm6ZX7m7rm4%2F%2FENn25v4GFg3FB4M1kQoAOuaxM%2BBtbkueo4s%2B%2FA%3D%3D</string>
</dict>
</plist>
